body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive !important;
}
.gif-container{
    height: 350px !important;
}
.gifs{
    width: 100% !important;
    height: 100% !important;
}
.alert{
text-transform: uppercase !important;
font-weight: 700;
letter-spacing: .5em;
}
.gif-button{
    letter-spacing: .5em;
}